@model IEnumerable<C43QLXeKhach.Models.LOAIXE>

@{
    ViewBag.Title = "Index";
}

<h2>
    DANH SÁCH LOẠI XE
    <p style="float: right">
        <a href="/LOAIXEs/Create" class="btn btn-primary">
            Thêm loại xe
        </a>
        <button class="btn btn-danger text-right" id="btnDelete" title="delete">
            Xóa loại xe
        </button>
    </p>
</h2><br />
<form action="/LOAIXEs/Index" method="POST" id="frm">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table  class="table table-hover" id="dataTable" cellspacing="0">
           
            <thead style="background-color: #cccccc; color: #333333" >
                <tr>
                    <th>
                        Chọn
                    </th>
                    <th>
                        Tên loại xe
                    </th>
                    <th class="text-center">
                        Số lượng ghế
                    </th>
                    <th class="text-right">
                        Hành động
                    </th>
                </tr>
            </thead>
                @foreach (var item in Model)
                {
                    <tbody  style="background-color: transparent;">
                        <tr>
                            <td>
                                <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value=@item.MaLoai>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenLoai)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.SLGhe)
                            </td>
                            <td class="text-right">
                                <a href="/LOAIXEs/Edit/@item.MaLoai" class="btn btn-xs btn-success" title="Sửa">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="/LOAIXEs/Details/@item.MaLoai" class="btn btn-xs btn btn-info" title="Xem chi tiết">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                <a href="/LOAIXEs/Delete/@item.MaLoai" class="btn btn-xs btn-danger" title="Xóa">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
</table><br><br>
        </div>
</form>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
            var url = decodeURIComponent(window.location.search.substring(1));
            if (url != "") {
                var searchinput = url.split("=")[1];
                $("#txtSearch").val(searchinput);
            }
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });

        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những loại xe này?");
            if (returnVal)
                $('#frm').submit();
            else
                return;
        });
        $('#nhanVienTitle').on('click', function () {
            window.location="/NHANVIENs/Index";
        });
</script>
}